body {
    margin: 0;
    padding: 0;
  }
html,
body {
    height: 100%;
}
#root {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.footer {
    text-align: center;
    line-height: 50px;
    height: 50px;
    background: #3359df;
    color: white;
}